body {
    color: purple;
}

/* changes color of paragraphs and list itmes*/
p, li {
    color: green;
}

/* target child elements*/
section h1 {
    color: darkred;
}

/*style a class*/
.secondary-heading {
    color: blue;
}

/*style an id*/
#main-section {
    color: pink;
    font-weight: bold;
}

/* Link Visited Hover Active*/

a:link {
    color: red;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
}

a:active {
    color: white;
}

a[href="http://algonquincollege.com"] {
    color: darkgreen;
}

