body {
    font-family: monospace;  font-size: 18px;
}

footer {
    color: #3B429F;
}

header, footer {
    background-color: #F4A5AE;
}

.site-title {
    color: #3B429F
}

.notes-heading {
    color: #3B429F; background-color: #F4A5AE;
}

#my-image {
    box-shadow: 0px 0px 2px 1px #000;
}

ul {
    list-style-type: square;
}

li:nth-child(odd) {
    background-color: #F4A5AE;
}

li {
    color: #3B429F;
}

a:link {
   text-decoration: none; background-color: #F4A5AE; border-style: outset; border-radius: 5px; border-width: 1px 1px;
}

a:hover {
    background-color: #A9F8FB;
}
