body {
    background-color: #aad4cf; 
}

.container {
    background-color: #d4e9e7;
    width: 70%;
    margin:auto;
    padding: 10px;
}

.starfish-wide {
    width: 100%;
    height: auto;
    
}

.lone-starfish {
    width: 170px;
    height: 120px;
    float: left;
    
}

.contact-box {
    border: solid black 1px;
    padding: 10px;
}

.contact-box input.text-input {
    width: 100%;
    box-sizing: border-box;
}

footer {
    text-align: right;
}

input.send {
    background-color: transparent;
    /* background-repeat: no-repeat; */
    border: black 1px solid;
}