body {
    /*changes background color of page*/
    background-color: #aad4cf; 
}

.container {
    /*changed background color behind all the text*/
    background-color: #d4e9e7;
    width: 70%;
    margin:auto;
    padding: 10px;
}

.starfish-wide {
    width: 100%;
    height: auto;
    
}

.lone-starfish {
    width: 170px;
    height: 120px;
    float: left;
    
}

.contact-box {
    /*adds a outline contact form*/
    border: solid black 1px;
    padding: 10px;
}

.contact-box input.text-input {
    width: 100%;
    box-sizing: border-box;
}

footer {
    text-align: right;
}

input.send {
    background-color: transparent;
    /*adds css to the send button */
    border: black 1px solid;
}